*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: cornflowerblue;
}

.container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 800px;
    height: 800px;
    gap: 10px;
}

.header{
    grid-column: 1 / 5;
    background-color: blueviolet;
}

.sidebar{
    grid-row: 2 / 5;
    grid-column: 1 / 3;
    background-color: blue;
}

.content1{
    grid-row: 2 / 3;
    grid-column: 3 / 5;
    background-color: dodgerblue;
}

.content2{
    grid-row: 3 / 4;
    grid-column: 3 / 5;
    background-color: royalblue;
}

.content3{
    grid-row: 4 / 5;
    grid-column: 3 / 5;
    background-color: steelblue;
}

.footer{
    grid-column: 1 / 5;
    grid-row: 5 / 6;
    background-color: blueviolet;
}