*{
    margin: 0;
    padding: 0;
    font-size: 25px;
}
#navbar{
    background-color: rgb(50, 2, 95);
    height: 50px;
}
a{
    text-decoration: none;
    color: white;
    line-height: 50px;
    margin: 0 20px;
}