h1 {
    text-align: center;
    font-size: 50px;
    color: #333;
}

#o {
    border: 40px solid black;
    width: 150px;
    margin: auto;
    padding: 20px 0;
    background-color: #222;
}

#f, #s, #t {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto;
}

#f { background-color: red; }
#s { background-color: yellow; }
#t { background-color: green; }